# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json # (Optional, but often ignored if using yarn)

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Python/AI Service files
__pycache__/
*.pyc
.venv/
venv/

# Large AI Models
ai_service/isolation_forest_model.pkl
ai_service/ip_profile_train.pkl
ai_service/robust_scaler.pkl